openapi: 3.1.0
info:
  description: The external developer API exposed through api.mem.ai. This compatibility projection remains independent from first-party product routes.
  title: Mem Public Client CoreApi__service-info API
  version: 1.0.0
servers:
- url: https://api.mem.ai
security:
- bearerAuth: []
tags:
- name: CoreApi__service-info
paths:
  /v1/service-info:
    get:
      operationId: get_service_info_v1_service_info_get
      parameters:
      - in: header
        name: If-None-Match
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: If-None-Match
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreApi__ServiceInfoResponseSchema'
          description: Successful Response
        '304':
          description: Not modified
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreApi__ApiError'
          description: Unprocessable Content
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreApi__ApiError'
          description: Internal Server Error
      summary: Get Service Info
      tags:
      - CoreApi__service-info
components:
  schemas:
    CoreApi__SupportedFeaturesSchema:
      properties:
        chat:
          $ref: '#/components/schemas/CoreApi__SupportedChatSettingsSchema'
      required:
      - chat
      title: SupportedFeaturesSchema
      type: object
    CoreApi__PlanId:
      enum:
      - free
      - paid
      title: PlanId
      type: string
    CoreApi__ApiError:
      description: The full error envelope emitted by every Mem API service.
      properties:
        error_category:
          title: Error Category
          type: string
        error_metadata:
          $ref: '#/components/schemas/CoreApi__ApiErrorMetadata'
      required:
      - error_category
      - error_metadata
      title: ApiError
      type: object
    CoreApi__SupportedChatModelProvider:
      enum:
      - STANDARD
      - ANTHROPIC
      - OPENAI
      - GOOGLEGEMINI
      title: SupportedChatModelProvider
      type: string
    CoreApi__SupportedChatModelSchema:
      properties:
        is_selectable:
          title: Is Selectable
          type: boolean
        label:
          title: Label
          type: string
        plans:
          items:
            $ref: '#/components/schemas/CoreApi__PlanId'
          title: Plans
          type: array
        provider:
          $ref: '#/components/schemas/CoreApi__SupportedChatModelProvider'
        variant:
          $ref: '#/components/schemas/CoreApi__SessionConfigVariant'
      required:
      - variant
      - label
      - provider
      - plans
      - is_selectable
      title: SupportedChatModelSchema
      type: object
    CoreApi__SupportedSettingsSchema:
      properties:
        features:
          $ref: '#/components/schemas/CoreApi__SupportedFeaturesSchema'
        schema_version:
          $ref: '#/components/schemas/CoreApi__SupportedSettingsSchemaVersion'
      required:
      - schema_version
      - features
      title: SupportedSettingsSchema
      type: object
    CoreApi__SupportedChatSettingsSchema:
      properties:
        models:
          items:
            $ref: '#/components/schemas/CoreApi__SupportedChatModelSchema'
          title: Models
          type: array
      required:
      - models
      title: SupportedChatSettingsSchema
      type: object
    CoreApi__SupportedSettingsSchemaVersion:
      enum:
      - 1
      title: SupportedSettingsSchemaVersion
      type: integer
    CoreApi__SessionConfigVariant:
      enum:
      - STANDARD
      - CLAUDE_SONNET_4_6
      - GPT_5_2
      - GPT_5_4
      - GPT_5_6_TERRA
      - CLAUDE_SONNET_5
      - GEMINI_3_FLASH
      - GEMINI_3_1_PRO
      - GEMINI_3_5_FLASH
      title: SessionConfigVariant
      type: string
    CoreApi__ServiceInfoResponseSchema:
      properties:
        chrome_extension:
          $ref: '#/components/schemas/CoreApi__ChromeExtensionServiceInfoSchema'
        supported_settings:
          $ref: '#/components/schemas/CoreApi__SupportedSettingsSchema'
      required:
      - chrome_extension
      - supported_settings
      title: ServiceInfoResponseSchema
      type: object
    CoreApi__ChromeExtensionServiceInfoSchema:
      properties:
        minimum_supported_version:
          title: Minimum Supported Version
          type: string
      required:
      - minimum_supported_version
      title: ChromeExtensionServiceInfoSchema
      type: object
    CoreApi__ApiErrorMetadata:
      description: The ``error_metadata`` object nested inside every error envelope.
      properties:
        error_kind:
          title: Error Kind
          type: string
        message:
          title: Message
          type: string
        request_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Request Id
      required:
      - error_kind
      - message
      title: ApiErrorMetadata
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    CoreApi__AssetAccessToken:
      in: query
      name: token
      type: apiKey
    CoreApi__Authorization:
      in: header
      name: Authorization
      type: apiKey
