openapi: 3.1.0
info:
  description: The external developer API exposed through api.mem.ai. This compatibility projection remains independent from first-party product routes.
  title: Mem Public Client CoreApi__service-info external-v2 API
  version: 1.0.0
servers:
- url: https://api.mem.ai
security:
- bearerAuth: []
tags:
- name: external-v2
paths:
  /v2/attachments/answer-question:
    post:
      description: 'Ask one focused question about a single attachment by kind and ID.

        Use `attachment_kind` and `attachment_id` returned in note attachment metadata.'
      operationId: app_src_api_routes_external_v2_attachments_views_answer_question_about_attachment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerQuestionAboutAttachmentRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerQuestionAboutAttachmentResponseSchema'
          description: OK
      summary: Answer Question About Attachment
      tags:
      - external-v2
  /v2/attachments/read:
    post:
      description: 'Read structured content for a single attachment by kind and ID.

        Use `attachment_kind` and `attachment_id` returned in note attachment metadata.'
      operationId: app_src_api_routes_external_v2_attachments_views_read_attachment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadAttachmentRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadAttachmentResponseSchema'
          description: OK
      summary: Read Attachment
      tags:
      - external-v2
  /v2/audio-recordings/{audio_recording_id}:
    get:
      description: Fetch the current public transcript and metadata for a single audio recording by ID.
      operationId: app_src_api_routes_external_v2_audio_recordings_views_read_audio_recording
      parameters:
      - description: 'When true (default), transcript turns are prefixed with available speaker

          labels. Labels may be participant names, generic diarization labels such as

          `[Speaker 1]`, or app channel labels such as `[Speaker]` and

          `[Other Speakers]`.

          Participant names are included only when available; many transcripts use

          generic diarization labels or app channel labels instead. Generic labels are

          speaker grouping context, not verified participant identity.

          When false, the same transcript content is returned without speaker labels.'
        in: query
        name: transcript_speaker_labels
        required: false
        schema:
          default: true
          description: 'When true (default), transcript turns are prefixed with available speaker

            labels. Labels may be participant names, generic diarization labels such as

            `[Speaker 1]`, or app channel labels such as `[Speaker]` and

            `[Other Speakers]`.

            Participant names are included only when available; many transcripts use

            generic diarization labels or app channel labels instead. Generic labels are

            speaker grouping context, not verified participant identity.

            When false, the same transcript content is returned without speaker labels.'
          title: Transcript Speaker Labels
          type: boolean
      - description: UUID of the audio recording to read. The caller must be able to access this recording.
        in: path
        name: audio_recording_id
        required: true
        schema:
          description: UUID of the audio recording to read. The caller must be able to access this recording.
          format: uuid
          title: Audio Recording Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadAudioRecordingResponseSchema'
          description: OK
      summary: Read Audio Recording
      tags:
      - external-v2
  /v2/calendar/calendars:
    get:
      operationId: app_src_api_routes_external_v2_calendar_views_list_calendars
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCalendarsResponseSchema'
          description: OK
      summary: List Calendars
      tags:
      - external-v2
  /v2/calendar/calendars/settings:
    post:
      operationId: app_src_api_routes_external_v2_calendar_views_update_calendar_settings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCalendarSettingsRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCalendarSettingsResponseSchema'
          description: OK
      summary: Update Calendar Settings
      tags:
      - external-v2
  /v2/calendar/connections:
    get:
      operationId: app_src_api_routes_external_v2_calendar_views_list_calendar_connections
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCalendarConnectionsResponseSchema'
          description: OK
      summary: List Calendar Connections
      tags:
      - external-v2
  /v2/calendar/connections/{provider}/callback:
    post:
      operationId: app_src_api_routes_external_v2_calendar_views_calendar_oauth_callback
      parameters:
      - in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarOAuthCallbackRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarOAuthCallbackResponseSchema'
          description: OK
      summary: Calendar Oauth Callback
      tags:
      - external-v2
  /v2/calendar/connections/{provider}/connect:
    post:
      operationId: app_src_api_routes_external_v2_calendar_views_connect_calendar
      parameters:
      - in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectCalendarRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectCalendarResponseSchema'
          description: OK
      summary: Connect Calendar
      tags:
      - external-v2
  /v2/calendar/connections/{provider}/disconnect:
    post:
      operationId: app_src_api_routes_external_v2_calendar_views_disconnect_calendar
      parameters:
      - in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisconnectCalendarRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisconnectCalendarResponseSchema'
          description: OK
      summary: Disconnect Calendar
      tags:
      - external-v2
  /v2/calendar/events:
    get:
      operationId: app_src_api_routes_external_v2_calendar_views_list_calendar_events
      parameters:
      - description: Filter events ending at or after this time.
        in: query
        name: start_time
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: Filter events ending at or after this time.
          title: Start Time
      - description: Filter events starting at or before this time.
        in: query
        name: end_time
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: Filter events starting at or before this time.
          title: End Time
      - description: Filter by external calendar ID (provider calendar ID).
        in: query
        name: calendar_id
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by external calendar ID (provider calendar ID).
          title: Calendar Id
      - description: Maximum number of events to return.
        in: query
        name: limit
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of events to return.
          title: Limit
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCalendarEventsResponseSchema'
          description: OK
      summary: List Calendar Events
      tags:
      - external-v2
  /v2/calendar/events/{event_id}:
    get:
      operationId: app_src_api_routes_external_v2_calendar_views_read_calendar_event
      parameters:
      - description: UUID of the calendar event to read.
        in: path
        name: event_id
        required: true
        schema:
          description: UUID of the calendar event to read.
          format: uuid
          title: Event Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadCalendarEventResponseSchema'
          description: OK
      summary: Read Calendar Event
      tags:
      - external-v2
  /v2/calendar/reconcile:
    post:
      operationId: app_src_api_routes_external_v2_calendar_views_reconcile_calendar
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconcileCalendarRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconcileCalendarResponseSchema'
          description: OK
      summary: Reconcile Calendar
      tags:
      - external-v2
  /v2/collections:
    get:
      description: 'List collections visible to the authenticated caller with cursor pagination.

        Results are ordered by `order_by` and return `next_page` when additional rows are available.

        For relevance-ranked retrieval by query, use `POST /v2/collections/search`.'
      operationId: app_src_api_routes_external_v2_collections_views_list_collections
      parameters:
      - description: 'Maximum number of collections in this page.

          Use smaller values for lower latency.

          Default is 50; valid range is 1 to 100.'
        in: query
        name: limit
        required: false
        schema:
          anyOf:
          - maximum: 100
            minimum: 1
            type: integer
          - type: 'null'
          default: 50
          description: 'Maximum number of collections in this page.

            Use smaller values for lower latency.

            Default is 50; valid range is 1 to 100.'
          title: Limit
      - description: 'Opaque cursor from a previous list response.

          Omit for the first page.

          IMPORTANT: Reuse with the same filters and `order_by` settings.'
        in: query
        name: page
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Opaque cursor from a previous list response.

            Omit for the first page.

            IMPORTANT: Reuse with the same filters and `order_by` settings.'
          title: Page
      - description: 'Sort key for pagination boundaries.

          Use `updated_at` (default) for recency feeds.

          Use `created_at` for creation-order views.'
        in: query
        name: order_by
        required: false
        schema:
          allOf:
          - enum:
            - created_at
            - updated_at
            title: CollectionListOrderBy
            type: string
          default: updated_at
          description: 'Sort key for pagination boundaries.

            Use `updated_at` (default) for recency feeds.

            Use `created_at` for creation-order views.'
      - description: 'Optional inclusive lower bound for collection creation time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_created_after
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive lower bound for collection creation time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Created After
      - description: 'Optional inclusive upper bound for collection creation time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_created_before
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive upper bound for collection creation time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Created Before
      - description: 'Optional inclusive lower bound for collection update time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_updated_after
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive lower bound for collection update time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Updated After
      - description: 'Optional inclusive upper bound for collection update time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_updated_before
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive upper bound for collection update time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Updated Before
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionListResponseSchema'
          description: OK
      summary: List Collections
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections?limit=20\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\""
    post:
      description: 'Create a collection with optional caller-provided ID and timestamps.

        If `id` already exists, this request returns a conflict.

        Use collection membership endpoints to add, remove, or move notes between collections.'
      operationId: app_src_api_routes_external_v2_collections_views_create_collection
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCollectionResponseSchema'
          description: OK
      summary: Create Collection
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --data '{\n         \"title\": \"Acme Corp\"\n     }'"
  /v2/collections/{collection_id}:
    delete:
      description: 'Permanently delete a collection.

        Hard-deleting removes the collection resource itself.

        For membership-only changes, use note add, remove, or move collection endpoints.'
      operationId: app_src_api_routes_external_v2_collections_views_delete_collection
      parameters:
      - description: UUID of the collection to permanently delete. Use an ID returned by create/list/search. The caller must be able to access this collection.
        in: path
        name: collection_id
        required: true
        schema:
          description: UUID of the collection to permanently delete. Use an ID returned by create/list/search. The caller must be able to access this collection.
          format: uuid
          title: Collection Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCollectionResponseSchema'
          description: OK
      summary: Delete Collection
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections/01961d40-7a67-7049-a8a6-d5638cbaaeb9\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request DELETE"
    get:
      description: 'Fetch metadata for a single collection by ID.

        This endpoint returns collection metadata only, not a note list for that collection.

        For discovery flows, use `GET /v2/collections` or `POST /v2/collections/search`.'
      operationId: app_src_api_routes_external_v2_collections_views_read_collection
      parameters:
      - description: UUID of the collection to read. Use an ID returned by create/list/search. The caller must be able to access this collection.
        in: path
        name: collection_id
        required: true
        schema:
          description: UUID of the collection to read. Use an ID returned by create/list/search. The caller must be able to access this collection.
          format: uuid
          title: Collection Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadCollectionResponseSchema'
          description: OK
      summary: Read Collection
      tags:
      - external-v2
    patch:
      description: 'Update metadata for a collection by ID.

        Use this endpoint to rename a collection by setting `title`.

        This endpoint updates only provided fields (`title`, `description`) and leaves omitted fields unchanged.

        For read-only retrieval, use `GET /v2/collections/{collection_id}`.'
      operationId: app_src_api_routes_external_v2_collections_views_update_collection
      parameters:
      - description: UUID of the collection to update. Use an ID returned by create/list/search. The caller must be able to edit this collection.
        in: path
        name: collection_id
        required: true
        schema:
          description: UUID of the collection to update. Use an ID returned by create/list/search. The caller must be able to edit this collection.
          format: uuid
          title: Collection Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCollectionResponseSchema'
          description: OK
      summary: Update Collection
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections/01961d40-7a67-7049-a8a6-d5638cbaaeb9\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request PATCH \\\n     --data '{\n         \"title\": \"Acme Corp - 2026\",\n         \"description\": \"Collection for 2026 Acme planning and execution notes.\"\n     }'"
  /v2/collections/{collection_id}/notes/{note_id}:
    delete:
      description: 'Remove a note from a collection while keeping both resources.

        This operation only removes the membership link between IDs.

        Use note/collection deletion endpoints to remove resources.'
      operationId: app_src_api_routes_external_v2_collections_views_remove_note_from_collection
      parameters:
      - description: UUID of the collection to unlink. Use an ID returned by create/list/search. Caller must be able to edit the note or contribute to the collection.
        in: path
        name: collection_id
        required: true
        schema:
          description: UUID of the collection to unlink. Use an ID returned by create/list/search. Caller must be able to edit the note or contribute to the collection.
          format: uuid
          title: Collection Id
          type: string
      - description: UUID of the note to unlink. Use an ID returned by create/list/search. Caller must be able to edit the note or contribute to the collection.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to unlink. Use an ID returned by create/list/search. Caller must be able to edit the note or contribute to the collection.
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveNoteFromCollectionResponseSchema'
          description: OK
      summary: Remove Note From Collection
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections/01961d40-7a67-7049-a8a6-d5638cbaaeb9/notes/01961d40-7b6f-70dd-8a92-2ee8f7137ab5\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request DELETE"
    put:
      description: 'Add an existing note to an existing collection.

        This operation only creates the membership link and does not modify note or collection content.

        Use create endpoints to create notes or collections.'
      operationId: app_src_api_routes_external_v2_collections_views_add_note_to_collection
      parameters:
      - description: UUID of the collection that will receive the note. Use an ID returned by create/list/search. The caller must be able to contribute to this collection.
        in: path
        name: collection_id
        required: true
        schema:
          description: UUID of the collection that will receive the note. Use an ID returned by create/list/search. The caller must be able to contribute to this collection.
          format: uuid
          title: Collection Id
          type: string
      - description: UUID of the note to add. Use an ID returned by create/list/search. The caller must be able to access this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to add. Use an ID returned by create/list/search. The caller must be able to access this note.
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddNoteToCollectionResponseSchema'
          description: OK
      summary: Add Note To Collection
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections/01961d40-7a67-7049-a8a6-d5638cbaaeb9/notes/01961d40-7b6f-70dd-8a92-2ee8f7137ab5\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request PUT"
  /v2/collections/{source_collection_id}/notes/{note_id}/move:
    post:
      description: 'Move a note from one collection to another collection.

        This operation adds the note to the target collection, then removes it from the source collection.

        It does not modify note or collection content.'
      operationId: app_src_api_routes_external_v2_collections_views_move_note
      parameters:
      - description: UUID of the collection that currently contains the note. Caller must be able to remove the note from this collection.
        in: path
        name: source_collection_id
        required: true
        schema:
          description: UUID of the collection that currently contains the note. Caller must be able to remove the note from this collection.
          format: uuid
          title: Source Collection Id
          type: string
      - description: UUID of the note to move. Use an ID returned by create/list/search.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to move. Use an ID returned by create/list/search.
          format: uuid
          title: Note Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveNoteRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveNoteResponseSchema'
          description: OK
      summary: Move Note
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections/01961d40-7a67-7049-a8a6-d5638cbaaeb9/notes/01961d40-7b6f-70dd-8a92-2ee8f7137ab5/move\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --data '{\n         \"target_collection_id\": \"01961d40-7c70-7ed8-8cd4-bd99203de422\"\n     }'"
  /v2/collections/search:
    post:
      description: 'Search collections using free-text relevance matching.

        Returns a bounded relevance-ranked result set and does not return `next_page`.

        For deterministic chronological pagination, use `GET /v2/collections`.'
      operationId: app_src_api_routes_external_v2_collections_views_search_collections
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionSearchRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionSearchResponseSchema'
          description: OK
      summary: Search Collections
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/collections/search\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --data '{\n         \"query\": \"recipes\"\n     }'"
  /v2/event-types:
    get:
      description: List event types supported by the Events API.
      operationId: app_src_api_routes_external_v2_events_views_list_event_types
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeListResponseSchema'
          description: OK
      summary: List Event Types
      tags:
      - external-v2
  /v2/events:
    get:
      description: 'List events for the authenticated account in sequence order.

        Events are a stable external projection over Mem domain events. They are

        thin by default; fetch full object state with the corresponding read API.'
      operationId: app_src_api_routes_external_v2_events_views_list_events
      parameters:
      - description: 'Return events with a sequence greater than this value.

          Store `next_after_sequence` from each response as the next watermark.'
        in: query
        name: after_sequence
        required: false
        schema:
          default: 0
          description: 'Return events with a sequence greater than this value.

            Store `next_after_sequence` from each response as the next watermark.'
          minimum: 0
          title: After Sequence
          type: integer
      - description: 'Maximum number of events to return. Max: 1000.'
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: 'Maximum number of events to return. Max: 1000.'
          maximum: 1000
          minimum: 1
          title: Limit
          type: integer
      - description: 'Optional repeated event type filter, for example

          `?types=mem.note.created.v1&types=mem.conversation.message_received.v1`.'
        in: query
        name: types
        required: false
        schema:
          anyOf:
          - items:
              $ref: '#/components/schemas/ExternalEventType'
            type: array
          - type: 'null'
          description: 'Optional repeated event type filter, for example

            `?types=mem.note.created.v1&types=mem.conversation.message_received.v1`.'
          title: Types
      - description: Optional primary entity kind filter, such as `note`.
        in: query
        name: entity_kind
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional primary entity kind filter, such as `note`.
          title: Entity Kind
      - description: Optional primary entity UUID filter.
        in: query
        name: entity_id
        required: false
        schema:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: Optional primary entity UUID filter.
          title: Entity Id
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponseSchema'
          description: OK
      summary: List Events
      tags:
      - external-v2
  /v2/events/{event_id}:
    get:
      description: Fetch a single event by ID.
      operationId: app_src_api_routes_external_v2_events_views_read_event
      parameters:
      - description: UUID of the event to read.
        in: path
        name: event_id
        required: true
        schema:
          description: UUID of the event to read.
          format: uuid
          title: Event Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadEventResponseSchema'
          description: OK
      summary: Read Event
      tags:
      - external-v2
  /v2/follow-ups:
    get:
      description: 'List follow-ups for the authenticated caller''s assistant with cursor pagination.

        Results are ordered by `order_by` and return `next_page` when additional rows are available.

        Use the optional `status`, `task_id`, and `project_id` filters to narrow the result set.'
      operationId: app_src_api_routes_external_v2_follow_ups_views_list_follow_ups
      parameters:
      - description: 'Maximum number of follow-ups in this page.

          Default is 50; valid range is 1 to 100.'
        in: query
        name: limit
        required: false
        schema:
          anyOf:
          - maximum: 100
            minimum: 1
            type: integer
          - type: 'null'
          default: 50
          description: 'Maximum number of follow-ups in this page.

            Default is 50; valid range is 1 to 100.'
          title: Limit
      - description: 'Opaque cursor from a previous list response.

          Omit for the first page.

          IMPORTANT: Reuse with the same `order_by`, `status`, `task_id`, and `project_id` values.'
        in: query
        name: page
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Opaque cursor from a previous list response.

            Omit for the first page.

            IMPORTANT: Reuse with the same `order_by`, `status`, `task_id`, and `project_id` values.'
          title: Page
      - description: 'Sort key for pagination boundaries.

          Use `scheduled_for` (default) to view follow-ups by trigger time.

          Use `updated_at` for recency feeds, or `created_at` for creation-order views.'
        in: query
        name: order_by
        required: false
        schema:
          allOf:
          - enum:
            - created_at
            - updated_at
            - scheduled_for
            title: AssistantFollowUpOrderBy
            type: string
          default: scheduled_for
          description: 'Sort key for pagination boundaries.

            Use `scheduled_for` (default) to view follow-ups by trigger time.

            Use `updated_at` for recency feeds, or `created_at` for creation-order views.'
      - description: Optional filter by follow-up status.
        in: query
        name: status
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/FollowUpStatusInput'
          - type: 'null'
          description: Optional filter by follow-up status.
      - description: Optional filter to follow-ups associated with a single task.
        in: query
        name: task_id
        required: false
        schema:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: Optional filter to follow-ups associated with a single task.
          title: Task Id
      - description: Optional filter to follow-ups associated with a single project.
        in: query
        name: project_id
        required: false
        schema:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: Optional filter to follow-ups associated with a single project.
          title: Project Id
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUpListResponseSchema'
          description: OK
      summary: List Follow Ups
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/follow-ups?limit=20&status=pending\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\""
  /v2/follow-ups/{follow_up_id}:
    get:
      description: Fetch metadata for a single follow-up by ID.
      operationId: app_src_api_routes_external_v2_follow_ups_views_read_follow_up
      parameters:
      - description: UUID of the follow-up to read. The caller's assistant must own this follow-up.
        in: path
        name: follow_up_id
        required: true
        schema:
          description: UUID of the follow-up to read. The caller's assistant must own this follow-up.
          format: uuid
          title: Follow Up Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadFollowUpResponseSchema'
          description: OK
      summary: Read Follow Up
      tags:
      - external-v2
  /v2/mcp/chatgpt/fetch:
    post:
      operationId: app_src_api_routes_external_v2_mcp_chatgpt_views_fetch_resources
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchChatGPTRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchChatGPTResponseSchema'
          description: OK
      summary: Fetch Resources
      tags:
      - external-v2
  /v2/mcp/chatgpt/search:
    post:
      operationId: app_src_api_routes_external_v2_mcp_chatgpt_views_search_resources
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchChatGPTRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchChatGPTResponseSchema'
          description: OK
      summary: Search Resources
      tags:
      - external-v2
  /v2/mcp/initialize:
    post:
      operationId: app_src_api_routes_external_v2_mcp_initialize_views_initialize_mcp
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpInitializeRequestSchema'
        required: true
      responses:
        '204':
          description: No Content
      summary: Initialize Mcp
      tags:
      - external-v2
  /v2/mcp/notes/{note_id}:
    get:
      operationId: app_src_api_routes_external_v2_mcp_notes_views_view_note
      parameters:
      - in: path
        name: note_id
        required: true
        schema:
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewNoteResponseSchema'
          description: OK
      summary: View Note
      tags:
      - external-v2
  /v2/mcp/notes/search:
    post:
      operationId: app_src_api_routes_external_v2_mcp_notes_views_search_notes
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchNotesRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchNotesResponseSchema'
          description: OK
      summary: Search Notes
      tags:
      - external-v2
  /v2/mem-it:
    post:
      operationId: app_src_api_routes_external_v2_mem_it_views_mem_it
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemItRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemItResponseSchema'
          description: OK
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageQuotaExceededPayload'
          description: Usage quota exceeded
          headers:
            Cache-Control:
              description: Prevents a quota response from being cached.
              schema:
                example: private, no-store
                type: string
            Retry-After:
              description: Seconds until the current usage quota resets.
              schema:
                minimum: 1
                type: integer
      summary: Mem It
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/mem-it\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --data '{\n         \"input\": \"<!DOCTYPE html><html><head><title>AI Trends 2025</title>...</html>\",\n         \"instructions\": \"Extract the key findings and save as a research note\"\n     }'"
  /v2/note-attachments/{attachment_id}/download-url:
    get:
      description: 'Generate a temporary signed download URL for a note attachment.

        Use this when note content references an attachment, but the underlying file URL is not directly downloadable.

        The caller must be able to access the requested attachment.'
      operationId: app_src_api_routes_external_v2_notes_views_get_note_attachment_download_url
      parameters:
      - description: UUID of the note attachment to download. The caller must be able to access this attachment.
        in: path
        name: attachment_id
        required: true
        schema:
          description: UUID of the note attachment to download. The caller must be able to access this attachment.
          format: uuid
          title: Attachment Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNoteAttachmentDownloadUrlResponseSchema'
          description: OK
      summary: Get Note Attachment Download Url
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/note-attachments/01961d40-7a67-7049-a8a6-d5638cbaaeb9/download-url\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\""
  /v2/notes:
    get:
      description: 'List notes visible to the authenticated caller with cursor pagination.

        When multiple `contains_*` fields are true, a note may match any of them.

        Results are ordered by `order_by` and return `next_page` when additional rows are available.

        For relevance-ranked retrieval by query, use `POST /v2/notes/search`.'
      operationId: app_src_api_routes_external_v2_notes_views_list_notes
      parameters:
      - description: 'Maximum number of notes in this page.

          Use smaller values for lower latency.

          Default is 50; valid range is 1 to 100.'
        in: query
        name: limit
        required: false
        schema:
          anyOf:
          - maximum: 100
            minimum: 1
            type: integer
          - type: 'null'
          default: 50
          description: 'Maximum number of notes in this page.

            Use smaller values for lower latency.

            Default is 50; valid range is 1 to 100.'
          title: Limit
      - description: 'Opaque cursor from a previous list response.

          Omit for the first page.

          IMPORTANT: Reuse with the same filters and `order_by` settings.'
        in: query
        name: page
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Opaque cursor from a previous list response.

            Omit for the first page.

            IMPORTANT: Reuse with the same filters and `order_by` settings.'
          title: Page
      - description: 'Sort key for pagination boundaries.

          Use `updated_at` (default) for recency feeds.

          Use `created_at` for creation-order views.'
        in: query
        name: order_by
        required: false
        schema:
          allOf:
          - enum:
            - created_at
            - updated_at
            title: NoteListOrderBy
            type: string
          default: updated_at
          description: 'Sort key for pagination boundaries.

            Use `updated_at` (default) for recency feeds.

            Use `created_at` for creation-order views.'
      - description: 'Optional collection filter by UUID.

          When set, only notes linked to this collection are returned.'
        in: query
        name: collection_id
        required: false
        schema:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: 'Optional collection filter by UUID.

            When set, only notes linked to this collection are returned.'
          title: Collection Id
      - description: 'Optional inclusive lower bound for note creation time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_created_after
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive lower bound for note creation time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Created After
      - description: 'Optional inclusive upper bound for note creation time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_created_before
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive upper bound for note creation time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Created Before
      - description: 'Optional inclusive lower bound for note update time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_updated_after
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive lower bound for note update time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Updated After
      - description: 'Optional inclusive upper bound for note update time (ISO 8601).

          The timestamp must include a timezone offset such as `Z` or `+01:00`.'
        in: query
        name: filter_by_updated_before
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Optional inclusive upper bound for note update time (ISO 8601).

            The timestamp must include a timezone offset such as `Z` or `+01:00`.'
          title: Filter By Updated Before
      - description: 'When true, include notes that contain at least one open task item.

          When multiple `contains_*` fields are true, notes matching any selected

          filter may be returned.'
        in: query
        name: contains_open_tasks
        required: false
        schema:
          default: false
          description: 'When true, include notes that contain at least one open task item.

            When multiple `contains_*` fields are true, notes matching any selected

            filter may be returned.'
          title: Contains Open Tasks
          type: boolean
      - description: 'When true, include notes that contain at least one task item

          (open or closed).

          When multiple `contains_*` fields are true, notes matching any selected

          filter may be returned.'
        in: query
        name: contains_tasks
        required: false
        schema:
          default: false
          description: 'When true, include notes that contain at least one task item

            (open or closed).

            When multiple `contains_*` fields are true, notes matching any selected

            filter may be returned.'
          title: Contains Tasks
          type: boolean
      - description: 'When true, include notes that contain image media

          (including image and GIF kinds).

          When multiple `contains_*` fields are true, notes matching any selected

          filter may be returned.'
        in: query
        name: contains_images
        required: false
        schema:
          default: false
          description: 'When true, include notes that contain image media

            (including image and GIF kinds).

            When multiple `contains_*` fields are true, notes matching any selected

            filter may be returned.'
          title: Contains Images
          type: boolean
      - description: 'When true, include notes that contain file-like attachments

          (including file and PDF kinds).

          When multiple `contains_*` fields are true, notes matching any selected

          filter may be returned.'
        in: query
        name: contains_files
        required: false
        schema:
          default: false
          description: 'When true, include notes that contain file-like attachments

            (including file and PDF kinds).

            When multiple `contains_*` fields are true, notes matching any selected

            filter may be returned.'
          title: Contains Files
          type: boolean
      - description: 'When true, include full markdown content for each returned note.

          IMPORTANT: This increases payload size and can increase latency.'
        in: query
        name: include_note_content
        required: false
        schema:
          default: false
          description: 'When true, include full markdown content for each returned note.

            IMPORTANT: This increases payload size and can increase latency.'
          title: Include Note Content
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResponseSchema'
          description: OK
      summary: List Notes
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes?limit=20\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\""
    post:
      description: 'Create a note with an optional note ID, timestamps, and collection links.

        If omitted, Mem generates the note ID.

        The first line of `content` becomes the note title.'
      operationId: app_src_api_routes_external_v2_notes_views_create_note
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNoteResponseSchema'
          description: OK
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageQuotaExceededPayload'
          description: Usage quota exceeded
          headers:
            Cache-Control:
              description: Prevents a quota response from being cached.
              schema:
                example: private, no-store
                type: string
            Retry-After:
              description: Seconds until the current usage quota resets.
              schema:
                minimum: 1
                type: integer
      summary: Create Note
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "                    curl \"https://api.mem.ai/v2/notes\" \\\n                         --header \"Content-Type: application/json\" \\\n                         --header \"Authorization: Bearer $MEM_API_KEY\" \\\n                         --data '{\n                             \"content\": \"# Sales Call with Acme Corp\n\nContact: John Smith (john@acme.com)\n\nInterested in enterprise plan. Follow up next week.\"\n                         }'\n                    "
  /v2/notes/{note_id}:
    delete:
      description: 'Permanently delete a note.

        Hard-deleted notes cannot be restored.

        For recoverable removal, use `POST /v2/notes/{note_id}/trash`.'
      operationId: app_src_api_routes_external_v2_notes_views_delete_note
      parameters:
      - description: UUID of the note to permanently delete. Use an ID returned by create/list/search. The caller must be able to edit this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to permanently delete. Use an ID returned by create/list/search. The caller must be able to edit this note.
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNoteResponseSchema'
          description: OK
      summary: Delete Note
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/01961d40-7a67-7049-a8a6-d5638cbaaeb9\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request DELETE"
    get:
      description: 'Fetch the full current state of a single note by ID.

        If the note is in trash, the response still returns the note and includes `trashed_at`.

        For discovery flows, use `GET /v2/notes` or `POST /v2/notes/search`.'
      operationId: app_src_api_routes_external_v2_notes_views_read_note
      parameters:
      - description: UUID of the note to read. Use an ID returned by create/list/search. The caller must be able to access this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to read. Use an ID returned by create/list/search. The caller must be able to access this note.
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadNoteResponseSchema'
          description: OK
      summary: Read Note
      tags:
      - external-v2
    patch:
      description: 'Submit a complete markdown body for a note and the exact `version` being updated.

        Send the full desired body in `content` (not a partial markdown patch).

        The first line of `content` becomes the updated title.

        Trashed notes must be restored before they can be updated.'
      operationId: app_src_api_routes_external_v2_notes_views_update_note
      parameters:
      - description: UUID of the note to update. Use an ID returned by create/list/search. The caller must be able to edit this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to update. Use an ID returned by create/list/search. The caller must be able to edit this note.
          format: uuid
          title: Note Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateNoteResponseSchema'
          description: OK
      summary: Update Note
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/01961d40-7a67-7049-a8a6-d5638cbaaeb9\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request PATCH \\\n     --data '{\n         \"content\": \"# Updated title\\n\\nUpdated markdown content.\",\n         \"version\": 3\n     }'"
  /v2/notes/{note_id}/created-at:
    patch:
      description: 'Set a note''s visible creation timestamp without changing its content.

        The supplied `created_at` must include a timezone offset and cannot be in the future.

        It can only backdate the note: the timestamp cannot be later than

        when the note was originally created.

        This operation changes note metadata only.

        Trashed notes must be restored before their creation date can be changed.'
      operationId: app_src_api_routes_external_v2_notes_views_set_note_created_at
      parameters:
      - description: UUID of the note whose visible creation timestamp should change. The caller must own this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note whose visible creation timestamp should change. The caller must own this note.
          format: uuid
          title: Note Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNoteCreatedAtRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNoteCreatedAtResponseSchema'
          description: OK
      summary: Set Note Created At
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/01961d40-7a67-7049-a8a6-d5638cbaaeb9/created-at\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request PATCH \\\n     --data '{\n         \"created_at\": \"2020-01-07T00:00:00Z\"\n     }'"
  /v2/notes/{note_id}/related-notes:
    get:
      description: 'Find notes semantically related to the current persisted content of a note.

        The source note is embedded at request time, so newly created or recently

        updated notes can be used before asynchronous indexing catches up.

        Candidate related notes still come from the note search index.'
      operationId: app_src_api_routes_external_v2_notes_views_find_related_notes
      parameters:
      - description: 'Maximum number of related notes to return.

          Default is 10; valid range is 1 to 20.'
        in: query
        name: limit
        required: false
        schema:
          default: 10
          description: 'Maximum number of related notes to return.

            Default is 10; valid range is 1 to 20.'
          maximum: 20
          minimum: 1
          title: Limit
          type: integer
      - description: UUID of the source note. The caller must be able to access this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the source note. The caller must be able to access this note.
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindRelatedNotesResponseSchema'
          description: OK
      summary: Find Related Notes
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/01961d40-7a67-7049-a8a6-d5638cbaaeb9/related-notes?limit=10\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\""
  /v2/notes/{note_id}/restore:
    post:
      description: 'Restore a previously trashed note to the active note set.

        This only reverses soft-delete lifecycle state.

        Notes permanently deleted via `DELETE /v2/notes/{note_id}` cannot be restored.'
      operationId: app_src_api_routes_external_v2_notes_views_restore_note
      parameters:
      - description: UUID of the note to restore from trash. Use an ID returned by create/list/search. The caller must be able to edit this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to restore from trash. Use an ID returned by create/list/search. The caller must be able to edit this note.
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreNoteResponseSchema'
          description: OK
      summary: Restore Note
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/01961d40-7a67-7049-a8a6-d5638cbaaeb9/restore\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request POST"
  /v2/notes/{note_id}/trash:
    post:
      description: 'Soft-delete a note by moving it to trash.

        Trashed notes can be restored via `POST /v2/notes/{note_id}/restore`.

        For irreversible deletion, use `DELETE /v2/notes/{note_id}`.'
      operationId: app_src_api_routes_external_v2_notes_views_trash_note
      parameters:
      - description: UUID of the note to move to trash. Use an ID returned by create/list/search. The caller must be able to edit this note.
        in: path
        name: note_id
        required: true
        schema:
          description: UUID of the note to move to trash. Use an ID returned by create/list/search. The caller must be able to edit this note.
          format: uuid
          title: Note Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrashNoteResponseSchema'
          description: OK
      summary: Trash Note
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/01961d40-7a67-7049-a8a6-d5638cbaaeb9/trash\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --request POST"
  /v2/notes/extended-search:
    post:
      description: 'Search notes and note-linked attachments together.

        Returns note hits with attachment match context for PDFs, images, audio

        recordings, calendar events, and emails. Use returned attachment IDs with

        the attachment tools for deeper inspection.'
      operationId: app_src_api_routes_external_v2_notes_views_extended_search_notes
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendedSearchNotesRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedSearchNotesResponseSchema'
          description: OK
      summary: Extended Search Notes
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/extended-search\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --data '{\n         \"query\": \"renewal terms in uploaded PDFs\",\n         \"limit\": 10\n     }'"
  /v2/notes/search:
    post:
      description: 'Search notes using a required free-text query and structured filters.

        When multiple `filter_by_contains_*` fields are true, a note may match any of them.

        Returns note results from a bounded search snapshot with deterministic offset pagination.

        Query-based searches are relevance-ranked within the bounded search snapshot window.

        Reuse the returned `snapshot_id` when requesting later pages.

        The returned `total` reflects the bounded search snapshot, capped by the 100-result search window.

        For deterministic chronological pagination across all accessible notes, use `GET /v2/notes`.'
      operationId: app_src_api_routes_external_v2_notes_views_search_notes
      parameters:
      - description: 'Maximum number of notes in this search page.

          Use smaller values for lower latency.

          Default is 20; valid range is 1 to 50.'
        in: query
        name: limit
        required: false
        schema:
          anyOf:
          - maximum: 50
            minimum: 1
            type: integer
          - type: 'null'
          default: 20
          description: 'Maximum number of notes in this search page.

            Use smaller values for lower latency.

            Default is 20; valid range is 1 to 50.'
          title: Limit
      - description: 'Number of matching notes to skip before returning results.

          This value is zero-based.'
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: 'Number of matching notes to skip before returning results.

            This value is zero-based.'
          minimum: 0
          title: Offset
          type: integer
      - description: 'Opaque search snapshot identifier returned by a previous search page.

          Required when requesting later pages with `offset > 0`.'
        in: query
        name: snapshot_id
        required: false
        schema:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: 'Opaque search snapshot identifier returned by a previous search page.

            Required when requesting later pages with `offset > 0`.'
          title: Snapshot Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteSearchRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteSearchResponseSchema'
          description: OK
      summary: Search Notes
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/notes/search?limit=20&offset=0\" \\\n     --header \"Content-Type: application/json\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\" \\\n     --data '{\n         \"query\": \"sales\"\n     }'"
  /v2/projects:
    get:
      description: 'List projects for the authenticated caller''s assistant with cursor pagination.

        Results are ordered by `order_by` and return `next_page` when additional rows are available.

        Use the optional `status` filter to narrow the result set.'
      operationId: app_src_api_routes_external_v2_projects_views_list_projects
      parameters:
      - description: 'Maximum number of projects in this page.

          Default is 50; valid range is 1 to 100.'
        in: query
        name: limit
        required: false
        schema:
          anyOf:
          - maximum: 100
            minimum: 1
            type: integer
          - type: 'null'
          default: 50
          description: 'Maximum number of projects in this page.

            Default is 50; valid range is 1 to 100.'
          title: Limit
      - description: 'Opaque cursor from a previous list response.

          Omit for the first page.

          IMPORTANT: Reuse with the same `order_by` and `status` values.'
        in: query
        name: page
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Opaque cursor from a previous list response.

            Omit for the first page.

            IMPORTANT: Reuse with the same `order_by` and `status` values.'
          title: Page
      - description: 'Sort key for pagination boundaries.

          Use `updated_at` (default) for recency feeds.

          Use `created_at` for creation-order views.'
        in: query
        name: order_by
        required: false
        schema:
          allOf:
          - enum:
            - created_at
            - updated_at
            title: AssistantProjectOrderBy
            type: string
          default: updated_at
          description: 'Sort key for pagination boundaries.

            Use `updated_at` (default) for recency feeds.

            Use `created_at` for creation-order views.'
      - description: Optional filter by project status.
        in: query
        name: status
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/ProjectStatusInput'
          - type: 'null'
          description: Optional filter by project status.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponseSchema'
          description: OK
      summary: List Projects
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/projects?limit=20&status=active\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\""
  /v2/projects/{project_id}:
    get:
      description: Fetch metadata for a single project by ID.
      operationId: app_src_api_routes_external_v2_projects_views_read_project
      parameters:
      - description: UUID of the project to read. The caller's assistant must own this project.
        in: path
        name: project_id
        required: true
        schema:
          description: UUID of the project to read. The caller's assistant must own this project.
          format: uuid
          title: Project Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadProjectResponseSchema'
          description: OK
      summary: Read Project
      tags:
      - external-v2
  /v2/session-events/search:
    post:
      operationId: app_src_api_routes_external_v2_session_events_views_search_session_events
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchSessionEventsRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSessionEventsResponseSchema'
          description: OK
      summary: Search Session Events
      tags:
      - external-v2
  /v2/sessions:
    post:
      operationId: app_src_api_routes_external_v2_sessions_views_create_session
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponseSchema'
          description: OK
      summary: Create Session
      tags:
      - external-v2
  /v2/sessions/{session_id}:
    delete:
      operationId: app_src_api_routes_external_v2_sessions_views_delete_session
      parameters:
      - in: path
        name: session_id
        required: true
        schema:
          format: uuid
          title: Session Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponseSchema'
          description: OK
      summary: Delete Session
      tags:
      - external-v2
    get:
      operationId: app_src_api_routes_external_v2_sessions_views_read_session
      parameters:
      - in: path
        name: session_id
        required: true
        schema:
          format: uuid
          title: Session Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponseSchema'
          description: OK
      summary: Read Session
      tags:
      - external-v2
    patch:
      operationId: app_src_api_routes_external_v2_sessions_views_update_session
      parameters:
      - in: path
        name: session_id
        required: true
        schema:
          format: uuid
          title: Session Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponseSchema'
          description: OK
      summary: Update Session
      tags:
      - external-v2
    put:
      operationId: app_src_api_routes_external_v2_sessions_views_upsert_session
      parameters:
      - in: path
        name: session_id
        required: true
        schema:
          format: uuid
          title: Session Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSessionRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponseSchema'
          description: OK
      summary: Upsert Session
      tags:
      - external-v2
  /v2/tasks:
    get:
      description: 'List tasks for the authenticated caller''s assistant with cursor pagination.

        Results are ordered by `order_by` and return `next_page` when additional rows are available.

        Use the optional `status` and `project_id` filters to narrow the result set.'
      operationId: app_src_api_routes_external_v2_tasks_views_list_tasks
      parameters:
      - description: 'Maximum number of tasks in this page.

          Default is 50; valid range is 1 to 100.'
        in: query
        name: limit
        required: false
        schema:
          anyOf:
          - maximum: 100
            minimum: 1
            type: integer
          - type: 'null'
          default: 50
          description: 'Maximum number of tasks in this page.

            Default is 50; valid range is 1 to 100.'
          title: Limit
      - description: 'Opaque cursor from a previous list response.

          Omit for the first page.

          IMPORTANT: Reuse with the same `order_by`, `status`, and `project_id` values.'
        in: query
        name: page
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Opaque cursor from a previous list response.

            Omit for the first page.

            IMPORTANT: Reuse with the same `order_by`, `status`, and `project_id` values.'
          title: Page
      - description: 'Sort key for pagination boundaries.

          Use `updated_at` (default) for recency feeds.

          Use `created_at` for creation-order views.'
        in: query
        name: order_by
        required: false
        schema:
          allOf:
          - enum:
            - created_at
            - updated_at
            title: AssistantTaskOrderBy
            type: string
          default: updated_at
          description: 'Sort key for pagination boundaries.

            Use `updated_at` (default) for recency feeds.

            Use `created_at` for creation-order views.'
      - description: Optional filter by task status.
        in: query
        name: status
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/TaskStatusInput'
          - type: 'null'
          description: Optional filter by task status.
      - description: Optional filter to tasks belonging to a single project.
        in: query
        name: project_id
        required: false
        schema:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: Optional filter to tasks belonging to a single project.
          title: Project Id
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponseSchema'
          description: OK
      summary: List Tasks
      tags:
      - external-v2
      x-codeSamples:
      - label: cURL
        lang: bash
        source: "curl \"https://api.mem.ai/v2/tasks?limit=20&status=pending\" \\\n     --header \"Authorization: Bearer $MEM_API_KEY\""
  /v2/tasks/{task_id}:
    get:
      description: Fetch metadata for a single task by ID.
      operationId: app_src_api_routes_external_v2_tasks_views_read_task
      parameters:
      - description: UUID of the task to read. The caller's assistant must own this task.
        in: path
        name: task_id
        required: true
        schema:
          description: UUID of the task to read. The caller's assistant must own this task.
          format: uuid
          title: Task Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadTaskResponseSchema'
          description: OK
      summary: Read Task
      tags:
      - external-v2
components:
  schemas:
    AnswerQuestionAboutAttachmentResponseSchema:
      example:
        answer: The document lists launch readiness, pricing, and support milestones.
        attachment_id: 2511691e-cfd2-47bc-a4b6-0104234ee1af
        attachment_kind: pdf
        page_references:
        - 1
        - 3
        request_id: api-request-036ed6c7-de00-459f-a89b-43d26aafe522
      properties:
        answer:
          title: Answer
          type: string
        attachment_id:
          format: uuid
          title: Attachment Id
          type: string
        attachment_kind:
          $ref: '#/components/schemas/AttachmentType'
        page_references:
          items:
            type: integer
          title: Page References
          type: array
        request_id:
          title: Request Id
          type: string
      required:
      - request_id
      - attachment_kind
      - attachment_id
      - answer
      title: AnswerQuestionAboutAttachmentResponseSchema
      type: object
    CalendarOAuthCallbackResponseSchema:
      properties:
        provider:
          title: Provider
          type: string
        request_id:
          title: Request Id
          type: string
        subject_id:
          title: Subject Id
          type: string
      required:
      - request_id
      - provider
      - subject_id
      title: CalendarOAuthCallbackResponseSchema
      type: object
    CreateSessionRequestSchema:
      properties:
        config:
          anyOf:
          - $ref: '#/components/schemas/SessionConfigSchema'
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        id:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          title: Id
        kind:
          anyOf:
          - $ref: '#/components/schemas/SessionKind'
          - type: 'null'
        status:
          anyOf:
          - $ref: '#/components/schemas/SessionStatus'
          - type: 'null'
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: CreateSessionRequestSchema
      type: object
    ListCalendarEventsResponseSchema:
      properties:
        events:
          items:
            $ref: '#/components/schemas/CalendarEventItemSchema'
          title: Events
          type: array
        request_id:
          title: Request Id
          type: string
        total:
          title: Total
          type: integer
      required:
      - request_id
      - events
      - total
      title: ListCalendarEventsResponseSchema
      type: object
    AgentCollectionSearchResultModel:
      properties:
        collection:
          $ref: '#/components/schemas/AgentCollectionModel'
        note_count:
          title: Note Count
          type: integer
        recent_notes:
          items:
            $ref: '#/components/schemas/AgentNoteModel'
          title: Recent Notes
          type: array
      required:
      - collection
      - note_count
      title: AgentCollectionSearchResultModel
      type: object
    MessageUserToolCallArgs:
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      title: MessageUserToolCallArgs
      type: object
    ProjectResponseItemSchema:
      properties:
        created_at:
          description: Creation timestamp for the project in ISO 8601 format.
          format: date-time
          title: Created At
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional longer description currently stored on the project.
          title: Description
        id:
          description: UUID of the project.
          format: uuid
          title: Id
          type: string
        last_activity_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: Most recent activity timestamp on the project, if any.
          title: Last Activity At
        status:
          description: Current project status (`active`, `resolved`, or `archived`).
          title: Status
          type: string
        title:
          description: Current title of the project.
          title: Title
          type: string
        updated_at:
          description: Last modification timestamp for the project in ISO 8601 format.
          format: date-time
          title: Updated At
          type: string
      required:
      - id
      - title
      - description
      - status
      - last_activity_at
      - created_at
      - updated_at
      title: ProjectResponseItemSchema
      type: object
    UpdateCalendarSettingsRequestSchema:
      properties:
        enabled_calendar_ids:
          description: List of calendar IDs to enable.
          items:
            type: string
          title: Enabled Calendar Ids
          type: array
        provider:
          description: Calendar provider ('google' or 'outlook').
          title: Provider
          type: string
        subject_id:
          description: Provider subject ID of the account.
          title: Subject Id
          type: string
      required:
      - provider
      - subject_id
      - enabled_calendar_ids
      title: UpdateCalendarSettingsRequestSchema
      type: object
    NoteResultsConfigSchema:
      properties:
        include_note_content:
          default: false
          description: 'When true, include full markdown content for each returned note.

            Keep false for lightweight metadata/snippet responses.'
          title: Include Note Content
          type: boolean
      title: NoteResultsConfigSchema
      type: object
    TrashNoteToolCallArgs:
      properties:
        note_id:
          title: Note Id
          type: string
      required:
      - note_id
      title: TrashNoteToolCallArgs
      type: object
    ListCalendarConnectionsResponseSchema:
      properties:
        connections:
          items:
            $ref: '#/components/schemas/ConnectionItemSchema'
          title: Connections
          type: array
        request_id:
          title: Request Id
          type: string
      required:
      - request_id
      - connections
      title: ListCalendarConnectionsResponseSchema
      type: object
    UpdateSessionRequestSchema:
      properties:
        config:
          anyOf:
          - $ref: '#/components/schemas/SessionConfigSchema'
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        kind:
          anyOf:
          - $ref: '#/components/schemas/SessionKind'
          - type: 'null'
        status:
          anyOf:
          - $ref: '#/components/schemas/SessionStatus'
          - type: 'null'
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: UpdateSessionRequestSchema
      type: object
    WebClipExternalInputPayload:
      properties:
        kind:
          const: WEB_CLIP
          default: WEB_CLIP
          title: Kind
          type: string
        web_clip_id:
          title: Web Clip Id
          type: string
      required:
      - web_clip_id
      title: WebClipExternalInputPayload
      type: object
    SessionEventUserMessageEventDataSchema:
      properties:
        kind:
          const: USER_MESSAGE
          title: Kind
          type: string
        value:
          $ref: '#/components/schemas/SessionEventUserMessageValue'
      required:
      - kind
      - value
      title: SessionEventUserMessageEventDataSchema
      type: object
    SearchSessionEventsRequestSchema:
      properties:
        limit:
          anyOf:
          - type: integer
          - type: 'null'
          default: 50
          title: Limit
        offset:
          anyOf:
          - type: integer
          - type: 'null'
          default: 0
          title: Offset
        session_id:
          format: uuid
          title: Session Id
          type: string
      required:
      - session_id
      title: SearchSessionEventsRequestSchema
      type: object
    RenameCollectionToolCallResult:
      properties:
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
        success:
          title: Success
          type: boolean
      required:
      - success
      title: RenameCollectionToolCallResult
      type: object
    CollectionListResponseSchema:
      example:
        next_page: eyJvcmRlcl9ieSI6InVwZGF0ZWRfYXQiLCJ2YWx1ZSI6IjIwMjUtMDUtMDRUMTQ6MjA6MTFaIiwiaWQiOiIwMThmOGQwZC01YTNjLTdhZmMtODMyMS0yZjZmNmUwZmVmYWIifQ
        request_id: api-request-018f8d0d-5a3c-7afc-8321-2f6f6e0fefab
        results:
        - created_at: '2025-05-01T10:05:45Z'
          description: Initiatives and plans for Q1
          id: 018f8d0d-5a3c-7afc-8321-2f6f6e0fefab
          note_count: 12
          title: Project Phoenix
          updated_at: '2025-05-04T14:20:11Z'
        total: 24
      properties:
        next_page:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Opaque cursor for the next page of collection results.

            `null` when there are no more results.'
          title: Next Page
        request_id:
          description: Identifier for this API request. Useful for tracing and support.
          title: Request Id
          type: string
        results:
          description: Page of collection results matching the requested sort.
          items:
            $ref: '#/components/schemas/CollectionListItemResponseSchema'
          title: Results
          type: array
        total:
          description: Total number of matching collections before pagination is applied.
          title: Total
          type: integer
      required:
      - request_id
      - results
      - total
      title: CollectionListResponseSchema
      type: object
    ReadEventResponseSchema:
      properties:
        data:
          additionalProperties: true
          title: Data
          type: object
        id:
          format: uuid
          title: Id
          type: string
        occurred_at:
          format: date-time
          title: Occurred At
          type: string
        primary_entity:
          anyOf:
          - $ref: '#/components/schemas/EventPrimaryEntityResponseSchema'
          - type: 'null'
        request_id:
          description: Identifier for this API request. Useful for tracing and support.
          title: Request Id
          type: string
        sequence:
          title: Sequence
          type: integer
        subject:
          anyOf:
          - type: string
          - type: 'null'
          title: Subject
        type:
          $ref: '#/components/schemas/ExternalEventType'
      required:
      - request_id
      - id
      - sequence
      - type
      - occurred_at
      - subject
      - primary_entity
      - data
      title: ReadEventResponseSchema
      type: object
    SessionKind:
      enum:
      - GENERIC
      - IMPORT
      - TEXT_MESSAGE
      - EMAIL
      - API_REQUEST
      - AUDIO
      - WEB_CLIP
      - IOS_SHARE_EXTENSION_WEB_CLIP
      - AUTO_ORGANIZE
      - MEM_IT
      - NATIVE_CHAT
      - CLEANUP_NOTE
      - UNKNOWN
      title: SessionKind
      type: string
    DeleteCollectionResponseSchema:
      example:
        request_id: api-request-036ed6c7-de00-459f-a89b-43d26aafe522
      properties:
        request_id:
          description: Identifier for this API request. Useful for tracing and support.
          title: Request Id
          type: string
      required:
      - request_id
      title: DeleteCollectionResponseSchema
      type: object
    GetNoteAttachmentDownloadUrlResponseSchema:
      example:
        download_url: https://storage.googleapis.com/mem-private-uploads/files/doc.pdf?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Signature=...
        id: 5e29c8a2-c73b-476b-9311-e2579712d4b1
        request_id: api-request-036ed6c7-de00-459f-a89b-43d26aafe522
      properties:
        download_url:
          description: A signed URL that can be used to download the attachment.
          title: Download Url
          type: string
        id:
          description: UUID of the requested note attachment.
          format: uuid
          title: Id
          type: string
        request_id:
          description: Identifier for this API request. Useful for tracing and support.
          title: Request Id
          type: string
      required:
      - request_id
      - id
      - download_url
      title: GetNoteAttachmentDownloadUrlResponseSchema
      type: object
    AddNoteToCollectionResponseSchema:
      example:
        request_id: api-request-036ed6c7-de00-459f-a89b-43d26aafe522
      properties:
        request_id:
          description: Identifier for this API request. Useful for tracing and support.
          title: Request Id
          type: string
      required:
      - request_id
      title: AddNoteToCollectionResponseSchema
      type: object
    FindRelatedNotesResponseSchema:
      example:
        request_id: api-request-018f8d0d-5a3c-7afc-8321-2f6f6e0fefab
        results:
        - collection_ids:
          - 59508b41-8770-4855-aa37-302b1e09aee7
          collections:
          - created_at: '2025-03-18T11:00:00Z'
            description: Planning documents and project notes.
            id: 59508b41-8770-4855-aa37-302b1e09aee7
            is_shared: false
            note_count: 8
            title: Work Projects
            updated_at: '2025-04-22T16:12:34Z'
          created_at: '2025-03-18T11:00:00Z'
          id: 018f8d0d-5a3c-7afc-8321-2f6f6e0fefab
          preview: '# Project Phoenix Planning


            Launch goals and milestones.'
          score: 0.91
          snippet: Launch goals and milestones.
          title: Project Phoenix Planning
          updated_at: '2025-04-22T16:12:34Z'
        total: 1
      properties:
        request_id:
          description: Identifier for this API request. Useful for tracing and support.
          title: Request Id
          type: string
        results:
          description: Related notes ordered by vector similarity.
          items:
            $ref: '#/components/schemas/RelatedNoteItemResponseSchema'
          title: Results
          type: array
        total:
          description: Number of related notes returned.
          title: Total
          type: integer
      required:
      - request_id
      - results
      - total
      title: FindRelatedNotesResponseSchema
      type: object
    DeleteCollectionToolCallArgs:
      properties:
        collection_id:
          title: Collection Id
          type: string
      required:
      - collection_id
      title: DeleteCollectionToolCallArgs
      type: object
    ReconcileCalendarRequestSchema:
      properties:
        calendar_id:
          anyOf:
          - type: string
          - type: 'null'
          description: External calendar ID (provider calendar ID). If omitted, the primary/default enabled calendar is used.
          title: Calendar Id
        provider:
          description: Calendar provider ('google' or 'outlook').
          title: Provider
          type: string
        subject_id:
          description: Provider subject ID of the account.
          title: Subject Id
          type: string
      required:
      - provider
      - subject_id
      title: ReconcileCalendarRequestSchema
      type: object
    TaskStatusInput:
      enum:
      - pending
      - in_progress
      - completed
      - canceled
      title: TaskStatusInput
      type: string
    TextSessionPart:
      deprecated: true
      properties:
        client_meta:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Client Meta
        content:
          title: Content
          type: string
        kind:
          const: TEXT
          default: TEXT
          title: Kind
          type: string
      required:
      - content
      title: TextSessionPart
      type: object
    ReadAttachmentRequestSchema:
      properties:
        attachment_id:
          description: 'UUID of the attachment to read. For note attachment metadata returned by

            `GET /v2/notes/{note_id}`, pass the `attachment_id` value directly.'
          format: uuid
          title: Attachment Id
          type: string
        attachment_kind:
          $ref: '#/components/schemas/AttachmentType'
          description: 'Kind of attachment to read. For note attachment metadata returned by

            `GET /v2/notes/{note_id}`, pass the `attachment_kind` value directly.'
        content_limit:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum content characters to return. Defaults to 10,000 and is capped at 20,000.
          title: Content Limit
        content_offset:
          default: 0
          description: Zero-based character offset for audio, calendar, and email content.
          minimum: 0
          title: Content Offset
          type: integer
        page_limit:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of PDF pages to return. Defaults to 5 and is capped at 20.
          title: Page Limit
        page_offset:
          default: 0
          description: Zero-based page offset for PDF attachments.
          minimum: 0
          title: Page Offset
          type: integer
      required:
      - attachment_kind
      - attachment_id
      title: ReadAttachmentRequestSchema
      type: object
    ViewImageToolCallArgs:
      properties:
        image_url:
          title: Image Url
          type: string
      required:
      - image_url
      title: ViewImageToolCallArgs
      type: object
    SetNoteCreatedAtResponseSchema:
      example:
        collection_ids:
        - 59508b41-8770-4855-aa37-302b1e09aee7
        content: '# Meeting with Bill


          Jan 7, 2020'
        created_at: '2020-01-07T00:00:00.000Z'
        id: 5e29c8a2-c73b-476b-9311-e2579712d4b1
        request_id: api-request-036ed6c7-de00-459f-a89b-43d26aafe522
        title: Meeting with Bill
        trashed_at: null
        updated_at: '2026-05-15T10:15:00.000Z'
        version: 5
      properties:
        collection_ids:
          description: Collection UUIDs currently associated with this note.
          items:
            format: uuid
            type: string
          title: Collection Ids
          type: array
        content:
          description: Full markdown content stored for the note.
          title: Content
          type: string
        created_at:
          description: Creation timestamp for the note in ISO 8601 format after the metadata update.
          format: date-time
          title: Created At
          type: string
        id:
          description: UUID of the updated note.
          format: uuid
          title: Id
          type: string
        request_id:
          description: Identifier for this API request. Useful for tracing and support.
          title: Request Id
          type: string
        title:
          description: Current note title.
          title: Title
          type: string
        trashed_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: Timestamp for when the note was moved to trash, or null when the note is active.
          title: Trashed At
        updated_at:
          description: Last modification timestamp after the metadata update in ISO 8601 format.
          format: date-time
          title: Updated At
          type: string
        version:
          description: Current note content document version.
          title: Version
          type: integer
      required:
      - request_id
      - id
      - title
      - content
      - version
      - collection_ids
      - trashed_at
      - created_at
      - updated_at
      title: SetNoteCreatedAtResponseSchema
      type: object
    ReadNoteResponseSchema:
      example:
        attachment_metadata:
        - attachment_id: 2511691e-cfd2-47bc-a4b6-0104234ee1af
          attachment_kind: pdf
          image_type: null
          ocr_text: null
          page_count: 7
          suggested_search: product launch requirements
          summary: Product requirements and launch milestones.
          visual_description: null
        audio_recording_ids:
        - 78ff64bc-09e3-4fd7-a4b9-53c258f35619
        collection_ids:
        - 59508b41-8770-4855-aa37-302b1e09aee7
        - 026b426c-14fb-4f22-8d98-7a9121bfaec8
        content: '# Sales Call with Acme Corp


          Contact: John Smith (john@acme.com)


          Interested in enterprise plan. Follow up next week.


          ## Action Items

          - Schedule follow-up call next week

          - Send enterprise pricing information


          ## Key Points

          - Interested in enterprise plan

          - Contact: John Smith (john@acme.com)'
        created_at: '2025-04-11T04:47:14.457Z'
        id: 5e29c8a2-c73b-476b-9311-e2579712d4b1
        request_id: api-request-036ed6c7-de00-459f-a89b-43d26aafe522
        title: Sales Call with Acme Corp
        trashed_at: null
        updated_at: '2025-04-11T04:47:19.702Z'
        version: 4
      properties:
        attachment_metadata:
[...]
